:root{
  --theme-primary-color: #3ba9ff;
  --theme-secondary-color: #c86efd;
  --theme-info-color: #f3f4f9;
  --theme-warning-color: #ffc11b;
  --theme-success-color: #00cb47;
  --theme-danger-color: #ff406c;
  --theme-text-color: #292C3A;
  --theme-background-color: #F7F9FB;
}
body {
  margin: 0;
  color: var(--theme-text-color);
  background-color: var(--theme-background-color);
}